<app-nav-bar-admin></app-nav-bar-admin>

<br>
<br>
<form class="col-lg-6 offset-lg-2">
    
  
    <div class="form-group">
      <label for="exampleInputPassword1">Nombre producto</label>
      <input type="text"[(ngModel)]="Produto.nombreProducto" name="nombreProducto" class="form-control" id="exampleInputPassword1" placeholder="Nombre del producto">
    </div>
  
    <div class="form-group">
      <label for="exampleInputPassword1">Valor producto</label>
      <input type="text"[(ngModel)]="Produto.valor" name="valor" class="form-control" id="exampleInputPassword1" placeholder="Precio">
    </div>
  
    <div class="form-group">
      <label for="exampleInputPassword1">Descripcion</label>
      <input type="text"[(ngModel)]="Produto.descripcionProducto" name="descripcionProducto" class="form-control" id="exampleInputPassword1" placeholder="Descripcion">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">url imagen producto</label>
        <input type="text"[(ngModel)]="Produto.url_photo" name="url_photo" class="form-control" id="exampleInputPassword1" placeholder="URL Imagen">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Cantidad a vender</label>
        <input type="text"[(ngModel)]="Produto.cantidadAVender" name="cantidadAVender" class="form-control" id="exampleInputPassword1" placeholder="Cantidad a vender">
      </div>
    
      <div class="form-group">
        <label for="exampleInputPassword1">ID Categoria</label>
        <input type="text"[(ngModel)]="Produto.categoria.idCategoria" name="idCategoria" class="form-control" id="exampleInputPassword1" placeholder="ID Categoria">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" hidden="true">Nombre Categoria</label>
        <input type="text"[(ngModel)]="Produto.categoria.nombreCategoria" name="nombreCategoria" class="form-control" id="exampleInputPassword1" placeholder="Email" hidden="true">
      </div>
  
    <br>
  
    <button class="btn btn-primary" (click)="addProducto()">Submit</button>
    
  </form>

