.nav.navbar-nav.navbar-right li a {
    color: blue;
}

li a{color:aliceblue !important;}

a{
    color: aliceblue !important;;
}
 .cartLogo{
    width: 25px;
    height: 25px;
 }

 .mainLogo{
    width: 100px;
    height: 85px;
    margin: 35px;
    margin-bottom: 0px;
    margin-top: 0px;

 }

 .navbar-brand{
    margin-right: 50px;
 }

 .bars{
   margin-right: 100px;
 }

 .barraBusqueda{
   margin-left: 100px;
 }

 .btn-outline-success{
   margin-left: -9px;
   margin-right: 35px;
 }

 .form-control {
   width: 750px; /* Adjust the width to your desired value */
 }

 @media (max-width: 1210px) {
   .form-control {
     width: 100px; /* Full width on small screens */
   }
 }

 @media ((min-width:1210px) and (max-width:1550px)) {
   .form-control {
     width: 450px; /* Full width on small screens */
   }
 }

 @media ((min-width:1550px) and (max-width:1800px)) {
   .form-control {
     width: 650px; /* Full width on small screens */
   }
 }

 .navbar{
   margin-right: -12px;
 }



