
<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Contact Us</h4>
                <p>If you have any questions or inquiries, feel free to reach out to us.</p>
                <ul class="list-unstyled">
                    <li><i class="bi bi-envelope"></i> Email: example@example.com</li>
                    <li><i class="bi bi-telephone"></i> Phone: +123 456 7890</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Follow Us</h4>
                <p>Stay connected with us on social media for updates and more.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>