<div class="container mt-5">
    <h1>Contacto</h1>
    <ul class="list-unstyled">
        <li>
            <i class="fas fa-phone"></i> Número de Teléfono: +123456789
        </li>
        <li>
            <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/tu-perfil-de-linkedin" target="_blank">LinkedIn</a>
        </li>
        <li>
            <i class="fab fa-github"></i> <a href="https://github.com/tu-usuario-de-github" target="_blank">GitHub</a>
        </li>
        <li>
            <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/tu-usuario-de-instagram" target="_blank">Instagram</a>
        </li>
        <li>
            <i class="fab fa-facebook"></i> <a href="https://www.facebook.com/tu-usuario-de-facebook" target="_blank">Facebook</a>
        </li>
    </ul>
</div>