<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <img [src]="url" alt="" width="30" height="24">
      <a class="navbar-brand" routerLink="/admin">ADMIN FAKE</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/agregarusuarioAdmin" class="nav-link active" aria-current="page" href="#">Agregar Usuarios</a>
          </li>
          <li class="nav-item">
            <a routerLink="/agregarProducto" class="nav-link" href="#">Agregar Productos</a>
          </li>
          
          <li class="nav-item">
            <a routerLink="/agregarCategoria" class="nav-link" href="#">Agregar Categorias</a>
          </li>
            
          <li class="nav-item">
            <a routerLink="/addSupplier" class="nav-link" href="#">Agregar Proveedores</a>
          </li>

          <li class="nav-item">
            <a routerLink="/inventario" class="nav-link" href="#">Inventario</a>
          </li>

          
  
  
        </ul>
      </div>
    </div>
  </nav>