<app-nav-bar-admin></app-nav-bar-admin>
<br>
<br>
<div style="font-weight: bolder;">Inventario de Productos </div>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let producto of productos">
        <td>{{producto.idProduct}}</td>
        <td>{{producto.productName}}</td>
        <td>{{producto.productDescription}}</td>
        <td>{{producto.quantityToSell}}</td>
        <td>{{producto.price}}</td>
        <!-- Display other product attributes as needed -->
      </tr>
    </tbody>
  </table>



  
  
  
  