<br>
<br>
<div style="font-weight: bolder;">Inventario de Productos </div>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mouse</td>
        <td>Ergonomico</td>
        <td>12</td>
        <td>75000</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Macbook Pro</td>
        <td>16gb</td>
        <td>2</td>
        <td>7999900</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>iPad</td>
        <td>9th gen</td>
        <td>2</td>
        <td>2999900</td>
        
      </tr>
    </tbody>
  </table>