<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a Mercado Fake</h1>
        <p class="lead">Somos tu destino número uno para productos y servicios de alta calidad que parecen demasiado buenos para ser verdad. En Mercado Fake, te ofrecemos una amplia gama de productos y servicios que te harán cuestionar la realidad misma. ¿Estás buscando productos que desafíen los límites de la lógica? ¿Necesitas servicios que te hagan cuestionar la existencia misma? ¡Has llegado al lugar correcto!</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Nuestros productos mas vendidos son:</h2>

                

                <div class="container">
                    <div class="mx-auto">
                        <app-articulos-mas-vendidos></app-articulos-mas-vendidos>
                    
                    </div>
                </div>
                
        </div>
        <div class="col-md-6">
         
        </div>
    </div>
</div>



