<div class="container mt-5">
    <div class="row">
        
        <h1 class="title">Articulos a la venta</h1><br><br>
        <div class="col-md-4 mb-4">
            <div *ngFor="let producto of productos">
            <div class="card">
                <img [src]= "producto.urlPhoto" class="card-img-top" alt="{{producto.nombreProducto}}">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombreProducto}}</h5>
                    <p class="card-text">{{producto.descripcionProducto}}</p>
                    <p class="card-text"><strong>Precio:${{producto.valor}}</strong></p>
                    <p class="card-text"><strong>{{producto.cantidadAVender}}</strong></p>
                    <p class="card-text"><strong>{{producto.nombreCategoria}}</strong></p>
                    <button class="btn btn-primary">Agregar al carrito</button>
                </div>
            </div>
        </div>
        </div>
        