.card {
    width: 380px; /* Ancho deseado de la tarjeta */
    height: 400px; /* Altura deseada de la tarjeta */
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 5px;
    text-align: center; /* Centra el contenido de la tarjeta horizontalmente */
}

.col-md-2 {
    margin-bottom: 20px; /* Espacio entre las filas de tarjetas */

    margin-right: 200px; /* Espacio entre tarjetas */


}

/* Ajusta el tamaño de las imágenes de las tarjetas */
.card-img-top {
    width: 160px; /* Ancho deseado de la imagen */
    height: 200px; /* Altura deseada de la imagen */
    display: block; /* Centra la imagen horizontalmente en su contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    
}

.btn-primary{
    background: gray;
    border: 0;
}

.title{
    margin-left: 500px;
    
}